.add-button {
  width: 50%;
  margin: 10px 10px 10px 25%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  display: grid;
  place-items: center;
  background-color: white;
}

#student-table{
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  place-items: center;
}