<button
  mat-raised-button
  (click)="lookForBuses()"
  class="add-button"
  color="primary"
  align="end"
>
  Look for your travel ticket
</button>

<table class="mat-elevation-z8 report-table">
  <ng-container>
    <th>Last Name</th>
    <td></td>
  </ng-container>

  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef>Lasst</th>
    <td mat-cell *matCellDef="let element">{{ element.from }}</td>
  </ng-container>

  <ng-container>
    <th>First Name</th>
    <td></td>
  </ng-container>

  <ng-container>
    <th>Age</th>
    <td></td>
  </ng-container>

  <ng-container>
    <th>Email</th>
    <td></td>
  </ng-container>

</table>
