<button
  mat-stroked-button
  color="primary"
  (click)="newStudent()"
  class="add-button"
  align="end"
>
  NEW STUDENT
</button>
<div id="student-table">
  <table mat-table [dataSource]="information" class="mat-elevation-z8">
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef><div align="end">Last Name</div></th>
      <td mat-cell *matCellDef="let student">{{ student.lastname }}</td>
    </ng-container>
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef><div align="center">First Name</div></th>
      <td mat-cell *matCellDef="let student">{{ student.firstname }}</td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef><div align="center">Birthdate</div></th>
      <td mat-cell *matCellDef="let student">{{ student.birthdate | date: 'yyyy-MM-dd' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef><div align="center">Email</div></th>
      <td mat-cell *matCellDef="let student">{{ student.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><div align="center">Actions</div></th>
      <td *matCellDef="let student">
        <button
          mat-fab
          color="primary"
          focusable="false"
          (click)="seeStudent(student)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          focusable="false"
          (click)="editStudent(student)"
        >
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button
          mat-fab
          color="warn"
          focusable="false"
          (click)="deleteStudent(student)"
        >
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>