<div mat-dialog-content class="window">
  <button class="close-button" (click)="close()">X</button>
  <h1>
    Personal information of {{ student.lastname }} {{ student.firstname }}
  </h1>
  <div class="row">
    <div class="column">
      <div class="description">
        Birthdate: {{ student.birthdate | date : "yyyy-MM-dd" }}
      </div>

      <div class="description">Email: {{ student.email }}</div>

      <div class="description">Country: {{ student.address.country }}</div>

      <div class="description">
        Institution Name: {{ student.university.name }}
      </div>
    </div>

    <div class="column">
      <div class="description">City: {{ student.address.city }}</div>

      <div class="description">Street: {{ student.address.street }}</div>

      <div class="description">
        Postal Code: {{ student.address.postalCode }}
      </div>

      <div class="description">
        Institution City: {{ student.university.city }}
      </div>
    </div>
  </div>
  <div class="add-report">
    <button mat-raised-button color="warn" focusable="false" (click)="close()">
      Cancel
    </button>
  </div>
</div>
