<div mat-dialog-content class="window">
  <button class="close-button" (click)="close()">X</button>
  <h1>
    Personal information of {{ student.lastname }} {{ student.firstname }}
  </h1>
  <div class="row">
    <div class="column">
      <div class="description">Birthdate: {{ student.birthdate }}</div>

      <div class="description">Email: {{ student.email }}</div>

      <div *ngFor="let address of student.address; index as i">
        <div class="description">
          Country: {{ address.country }}
        </div>
      </div>
    </div>

    <div class="column">
      <div *ngFor="let address of student.address; index as i">
        <div class="description">City: {{ address.city }}</div>

        <div class="description">Street: {{ address.street }}</div>

        <div class="description">
          Postal Code: {{ address.postalCode }}
        </div>
      </div>
    </div>
  </div>
  <div class="add-report">
    <button mat-raised-button color="warn" focusable="false" (click)="close()">
      Cancel
    </button>
  </div>
</div>
