.window {
  border-radius: 8px, !important;
  overflow: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: #333;
}

.close-button:focus {
  outline: none;
}