<div mat-dialog-content class="window">
  <button class="close-button" (click)="close()">X</button>
  <h1>Complete the details</h1>
  <div class="row">
    <div class="column">
      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Last Name:</mat-label>
          <input
            [formControl]="lastnameControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. Smith"
          />
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>First Name:</mat-label>
          <input
            [formControl]="firstnameControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. Adam"
          />
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Street:</mat-label>
          <input
            [formControl]="streetControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. 445 McCarran Street"
          />
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Postal Code:</mat-label>
          <input
            [formControl]="postalCodeControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. MO64015"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="column">
      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Birthdate:</mat-label>
          <input
            matInput readonly
            [formControl]="birthdateControl"
            [matDatepicker]="birthdatePicker"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. 18"
          />
          <mat-datepicker-toggle matIconSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input
            [formControl]="emailControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. smithadam@example.com"
          />
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>City:</mat-label>
          <input
            [formControl]="cityControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. York"
          />
        </mat-form-field>
      </div>

      <div class="report-aggregate-details">
        <mat-form-field>
          <mat-label>Country:</mat-label>
          <input
            [formControl]="countryControl"
            matInput
            #input
            maxlength="30"
            placeholder="Ex. Great Britain"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="add-report">
    <button mat-raised-button class="button-center" color="primary" focusable="false" (click)="onStartEdit()">Edit</button>
      <button mat-raised-button class="button-center" color="warn" focusable="false" (click)="close()">Cancel</button>

  </div>
</div>